<!-- <h1>What is normal or not?</h1>
<p>Time and time we questions ourselves. is it normal to drink cow’s milk, should be lock the car<br>
when we are driving them, to prevent car jacking or asking question which maybe doctor patient
<br> confidentiality or maybe embarrassing stuff you may not find easy to ask your friends or family.</p>

<h1>why use normal or not?</h1>
<p>So a lot of people ask us, why not ask questions on facebook, reddit, twitter and more.
<br>
The thing is what we have the other don’t is privacy.
<br>
Privacy. The things we say, the things we do all have an equal and opposite reaction.
<br>
Now just a little privacy none of this will ever exist.</p>
 -->
<!-- <div class="container-fluid">
  <h1 class="about">
  <center>What is normal or not?</center>
  </h1>
    <div class="container-fluid-1">
      <p>Time and time we questions ourselves. is it normal to drink cow’s milk, should be lock the car<br>
      when we are driving them, to prevent car jacking or asking question which maybe doctor patient
      <br> confidentiality or maybe embarrassing stuff you may not find easy to ask your friends or family.</p>
    </div>  
    <h1 class="about">

    <center>Why use normal or not?</center>
    </h1>
    <div class="container-fluid-1">
      <p>So a lot of people ask us, why not ask questions on facebook, reddit, twitter and more.
      <br>
      The thing is what we have the other don’t is privacy.
      <br>
      Privacy. The things we say, the things we do all have an equal and opposite reaction.
      <br>
        Now just a little privacy none of this will ever exist.</p>
    </div>
</div> -->

<div class="container">
  <div class="title_container"><h1>What is Normal or not?</h1></div>
  <div class="text">
     <p>Time and time we questions ourselves. is it normal to drink cow’s milk, should be lock the car<br>
      when we are driving them, to prevent car jacking or asking question which maybe doctor patient
      <br> confidentiality or maybe embarrassing stuff you may not find easy to ask your friends or family.</p>
  </div>
</div>

<div class="container">
  <div class="title_container"><h1>Why use Normal or not?</h1></div>
  <div class="text"><p>So a lot of people ask us, why not ask questions on facebook, reddit, twitter and more.
      <br>
      The thing is what we have the other don’t is privacy.
      <br>
      Privacy. The things we say, the things we do all have an equal and opposite reaction.
      <br>
        Now just a little privacy none of this will ever exist.</p>
</div>