<!-- first layout with wellcome note and background image -->
<div class="background-image-1">
	<div class="background-tint">
		<!-- alerts -->
			<%flash.each do |key, value|%>
				<div class="alert alert-<%= key %>"><center><%= value %></center></div>
					<%end%>
				</div>

		<div class="index">
		&nbsp
		&nbsp
		&nbsp
			<h3> How curious are you, dying to ask some questions?
			<br>
			<a href="/posts/new">Just ask</a> now, I'm sure you will receive a great answers.</h3>

		</div>
	</div>
</div>

<!-- most popular post -->

	<div class="background-image-2">
	  <h3>Most popular</h3>
	  <!-- this code show most upvotes -->
	  <div class="cards">
	    <%Post.order(:cached_votes_up => :desc).limit(4).each do |likes|%>
	        <div class="box_1">
	          <ul>
	            <li>
	              <h class="title"><%= link_to likes.title, likes%></h>
	            </li>
	          </ul>
	        </div>
	    <%end%>
	  </div>
		<div class="border-radius">
			<h3 class="post_wrapper">Newest Post.</h3>
		</div>

		<!-- cards -->
		<div class="cards">
		  <% @post.order(id: :desc).limit(8).each do |post|%>
		        <div class="box_1">
		          <ul>
		            <li>
		              <h class="title"><%= link_to post.title, post%></h>
		            </li>
		          </ul>
		        </div>
		      <%end%>
		</div>
		<center>
		  <a href="/all">see more.</a>
		</center>

<br />
</div>
