// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-img
{
	background: url("https://i.ytimg.com/vi/H5ssxCnxIdc/maxresdefault.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;


}
.container_login
{
	background-color: lightskyblue;
	opacity: 0.9;
	width: 600px;
	height:300px;
	margin-left: 20px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;


}
.content
{
	text-align: center;
}